body{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    background-image: url(../image/backgroundviolet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0%;
    
}
article{
    display: flex;
    width: 800px;
    height: 220px;
    margin: 60px;
    border-radius: 15px;
    padding: 15px;
    color: rgb(53, 18, 110);
    box-sizing: border-box;  
    border-style: solid;  
}

footer{
    position: absolute;
    bottom: 5px;
    margin: 15px;
    color: rgb(184, 144, 248);
}
aside{
    height: 250px;
    width: 100%;
    display: flex;
    float: right;
    border-style: solid;
    margin-right: 200px;
    color: rgb(53, 18, 110);
    border-radius: 15px;
    padding: 10px;

}
ol{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.encadre{
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(126, 126, 224);
    padding: 5px;
    float: right;
}

header{
    height: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
  
}
hr{
    height: 2px;
    background-color: black;
    margin-top: 15px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(53, 18, 110);
}
main{
    display:flex;
    justify-content: space-between;

}
iframe{
    display: flex;
    position: absolute;
    bottom: 100px;
    justify-content: center;
}

